.blog-content{
    padding: 50px;
}
.blog-conent h3{
    font-weight: 600;
    font-family: 'Poppins';
    color: #4761ab;
    font-size: 35px;
    margin-top: 20px;
}
.blog-conent p{
    font-weight: 400;
    font-family: 'Poppins';
    color: #080808;
    font-size: 18px;
   
    margin-top: 20px;
}