.sidenav{
    background-color: rgba(164, 148, 235, 0.23);
    box-shadow: 3px 3px #cfe3ff7d;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 20px 0px;
    height: 100vh;
}
.sidenav ul{
    list-style: none;

}
.sidenav ul li{
    font-size: 18px;
    color: aliceblue;
    font-weight: 400;
    cursor: pointer;
    margin-top: 20px;
    
}
.sidenav ul li a{
    text-decoration: none;
    color: rgb(73 24 217);
    font-weight: 600;
    cursor: pointer;
    text-transform: capitalize;
    
}
.sidenav ul li a:hover{
    text-decoration: none;
    color: rgb(148, 154, 160);
    font-weight: 600;
    cursor: pointer;
}
.topbar{
    display: flex;
    justify-content: space-between;
    background-color: #003694;
    padding: 10PX;
    color: aliceblue;
}
