main{
    padding: 0px;
    font-size: 18px;
    font-weight: 500;
    margin: 0 auto;
}
header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;
    background-color: rgb(221, 223, 226);
    padding: 20px;
    position: relative;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.521);
    z-index: 999;
    
}
.nav-item a{
    text-decoration: none;
    color:#163f45;
    cursor: pointer;
    z-index: 9;
    font-family: 'Poppins';
    font-weight: 500;
}
.nav-item a:hover{
    text-decoration: none;
    color:rgb(0, 111, 126);
    cursor: pointer;
    z-index: 9;
    font-family: 'Poppins';
    font-weight: 600;
}
header a.logo{
    font-size: 30px;
    font-weight: 600;
}
header nav{
    display: flex;
    gap: 40px;
}
.footer{
    background-color: #163f45;
    padding: 30px 0px;
}
.footer-contact{
    color: #fff;
}
.footer-social{
    font-size: 25px;
    display: flex;
    gap: 20px;
    color: #fff;
}
.student-services h4{
    color: #fff;
    font-weight: 600;
    font-size: 25px;
}
.student-services ul li{
    list-style:none;
    color: #fff;
}
.quick-link h4{
    color: #fff;
    font-weight: 600;
    font-size: 25px;
}
.quick-link h4{
    color: #fff;
    font-weight: 600;
    font-size: 25px;
}
.quick-link ul li{
    list-style:none;
    color: #fff;
}
.logo img{
    height: 45px;
    width: auto;
    object-fit: cover;
}
.quick-link ul li a{
    font-family: 'Poppins';
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}